.venv/**
.vscode/**
.vscode-test/**
src/**
.gitignore
.vscodeignore
tsconfig.json
package-lock.json
*.md
!README.md
!README.ru.md
!CHANGELOG.md
!CHANGELOG.ru.md
scripts/**
builds/**
archive/**
temp/**
dist/*.map